{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'sms:exam_list' %}">My Exam</a></li>
      <li class="breadcrumb-item"><a href="{% url 'sms:view_and_update_exam' exam.pk %}">{{ exam.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Add a new question</li>
    </ol>
  </nav>
  <h2 class="mb-3">Add a new question</h2>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success btn-margin">Save</button>
  </form>
{% endblock %}
