{% extends 'base.html' %}

{% block content %}
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Quiz</th>
          <th>Subject</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {% for taken_exam in taken_exams %}
          <tr>
            <td>{{ taken_exam.exam.exam_name }}</td>
            <td>{{ taken_exam.exam.subject }}</td>
            <td>{{ taken_exam.score }}</td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="3">You haven't completed any exam yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
