{% extends 'base.html' %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">My Quizzes</li>
    </ol>
  </nav>
  <h2 class="mb-3">My Exams</h2>
  <a href="{% url 'sms:create_exam' %}" class="btn btn-primary mb-3" role="button">Add exam</a>
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Exam</th>
          <th>Subject</th>
          <th>Questions</th>
          <th>Taken</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for exam in exams %}
          <tr>
            <td class="align-middle"><a href="{% url 'sms:view_and_update_exam' exam.pk %}">{{ exam.exam_name }}</a></td>
            <td class="align-middle">{{ exam.questions_count }}</td>
            <td class="align-middle">{{ exam.taken_count }}</td>
            <td class="text-right">
              <a href="{% url 'sms:exam_result_list' %}" class="btn btn-primary">View results</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">You haven't created any quiz yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
